sudo: required
services:
- docker
language: python
python:
- '3.5'
script:
- python -m pytest -v
addons:
  ssh_known_hosts: $MACHINE
after_success:
- echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
- export REPO="aravin008/cicd-buzz"
- export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH
  ; fi`
- docker build -f Dockerfile -t $REPO:$TAG .
- docker image ls
- echo "REPO:$REPO"
- docker push $REPO
- chmod 400 "login_mar5_1.pem"
- ssh  -o "StrictHostKeyChecking no" -i "login_mar5_1.pem" $MACHINE 'bash -s' < .travis/test.sh
before_install:
- openssl aes-256-cbc -K $encrypted_73f399b0be97_key -iv $encrypted_73f399b0be97_iv
  -in login_mar5_1.pem.enc -out login_mar5_1.pem -d
env:
  matrix:
    secure: ksm+gNqg0jqkjXlYYKoMVF7LwdSRn9rkPzPLKnrDKtGrnu0vkdYmZKd6P2WYCoX65cYuJI4l5LpGc7tpSJErcQcMn92oJ8GDh2+77QrCUmH4FNoTYI3EQ/tzYC6iblTsRJvGa0ekYzndQyMFdgMd7YT/2fBLSHYKD4WXqjqFuLQXPacez7jP0Pm1plM/dbML/BUKX5p8SR9StWk/Xun0OfxFud1u4+F7KLVYD5fKJGCTvBXR0XTs2vTlTsKYI/ZWkBHD/ITIKb953fXpsGMhPYFxkMzHqC4AR+aRYo9YhbNSYMYxH705NEqT+Q1JEq0eKCKeOoM7w/BYx8t1jIcVl7ByxDp8J/Mq3vZxh/EmsvSRzI+uZWsvvgHueW5gOGguDAJH+/Vk23Y4khPs86cnwS2bcH+YnxEgtr2IptExw6lNRwSDvMU95QhTwzc61dOs3YxS5XOPRSs9dIptIbEQUPuswkEOzwKDsA94x+rBQmiy000GDs52fszkKrDYfN5Jd+uSwAHbYRjISbHzkEpmI0zQf6ihipS+Jm1SNSC4e46U+FNHfDKQSPWOZl91Ob3l6BONFZQBg67/hOlgIbPyPla31SQJRGjIDLeNTx8yNjS5+OyQ/CUwBx/YABlbIf4TO7RxehriASDdQTs+dUgZdCIpNQrmPxlL1xx1oV8/v2I=
