sudo: required

services:
  - docker

language: python
python:
  - "3.5"

script:
  - python -m pytest -v

after_success:
  - echo "$DOCKER_PASS" | docker login -u "$DOCKER_USER" --password-stdin
  - export REPO="aravin008/cicd-buzz"
  - export TAG=`if [ "$TRAVIS_BRANCH" == "master" ]; then echo "latest"; else echo $TRAVIS_BRANCH ; fi`
  - docker build -f Dockerfile -t $REPO:$TAG .
  - docker image ls
  - echo "REPO:$REPO"
  - docker push $REPO

#deploy:
#  provider: script
#  script: bash .travis/deploy_dockerhub.sh
#  on:
#    branch: master
